numpy
matplotlib
pandas
scipy
sympy
torchtext
torch
torchvision
pytorch-lightning
scikit-learn
astropy
h5py
Pillow
wandb
celluloid
pyproj
tables
astropy==6.0.0
zarr
black 
isort 
flake8 
black[jupyter]
